<% provide(:title, "Edit #{@orderer.name}") %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2 class="page-header">Edit <%= @orderer.name %></h2>
    <%= form_for(@orderer) do |f| %>
      <%= render 'fields', f: f %>
      <div class="submit-btn-container">
        <%= f.submit 'Update', class: 'btn btn-primary' %>
      </div>
    <% end %>
    <p class="delete-link delete-orderer">
      <%= link_to 'Delete', @orderer, method: :delete,
                                      data: { confirm: "You sure?" },
                                      title: @orderer.name %>
    </p>
    <p class="back-link">
      <%= link_to 'Back', configs_path %>
    </p>
  </div>
</div>

